*

!.gitignore
!.Xdefaults
!.zshenv
!manifest.nix

!.config/

!.config/zsh/
!.config/zsh/*.zsh
!.config/zsh/.zshrc

!.config/git/
!.config/git/**

!.config/wezterm/
!.config/wezterm/**
!.config/wezterm/colors/
!.config/wezterm/colors/**

!.config/qtile/
!.config/qtile/config.py
!.config/qtile/readme.md

!.config/picom/
!.config/picom/**

!.config/rofi/
!.config/rofi/**

!.config/nix/
!.config/nix/**
